
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="nav container">
          <svg width="1.5rem" height="1.5rem" viewBox="0 0 12 12">
            <rect y="5" width="2" height="2"></rect>
            <rect x="0" y="0" width="2" height="2"></rect>
            <rect x="0" y="10" width="2" height="2"></rect>
            <rect x="5" y="5" width="2" height="2"></rect>
            <rect x="5" y="0" width="2" height="2"></rect>
            <rect x="5" y="10" width="2" height="2"></rect>
            <rect x="10" y="5" width="2" height="2"></rect>
            <rect x="10" width="2" height="2"></rect>
            <rect x="10" width="2" height="2"></rect>
            <rect x="10" y="10" width="2" height="2"></rect>
          </svg>
        </div>
      </header>
      <div class="wrapper">
        <div class="pgHold">
          <div class="pgScroll">
            <main class="main">
              <section>
                <div class="siteSectionContainer container">
                  <div class="sectCounter mainFont">I.</div>
                  <div class="intro-page-greetings">
                    <h1 class="logoFont">DALKit</h1>
                    <div class="intro-page-descr"> </div>
                    <h1 class="introFont">Cool dudes creating cool stuff</h1>
                  </div>
                </div>
              </section>
              <article class="horizontaltext">
                <!--.horizontalTextContainer -->
                <!--  p MOVING TEXT -->
              </article>
              <section class="sectionStyle">
                <div class="siteSectionContainer container horizontaltext"></div>
              </section>
              <section class="sectionStyle">
                <div class="siteSectionContainer container">
                  <div class="sectCounter mainFont">II.</div>
                  <div class="intro-page-greetings">
                    <h1 class="mainFont">Our Projects</h1><span class="breakLine"></span>
                  </div>
                  <div class="container1">
                    <div class="showCard"><a class="showCardItem">
                        <div class="itemHead">
                          <h3>Project title.</h3>
                        </div>
                        <div class="itemCard">
                          <div class="itemImages"></div>
                        </div>
                        <div class="itemDescr">
                          <h2>Type of Work</h2>
                        </div><span class="breakLine"></span></a><a class="showCardItem">
                        <div class="itemHead">
                          <h3>Project title.</h3>
                        </div>
                        <div class="itemCard">
                          <div class="itemImages"></div>
                        </div>
                        <div class="itemDescr">
                          <h2>Type of Work</h2>
                        </div><span class="breakLine"></span></a></div>
                  </div>
                </div>
              </section>
              <section class="sectionStyle">
                <div class="siteSectionContainer container">
                  <div class="sectCounter mainFont">III.</div>
                  <div class="intro-page-greetings">
                    <h1 class="mainFont">About-us</h1><span class="breakLine"></span>
                  </div>
                  <div class="container1 aboutus">
                    <div class="showCard showCardItem">
                      <div class="itemHead">
                        <h3>Our Story is simple... we create to make money... it' a side hustle</h3>
                      </div>
                      <div class="itemCard">
                        <svg width="100%" height="500px" background-color="black"></svg>
                      </div>
                      <div class="aboutDesc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  </p>
                      </div><span class="breakLine"></span>
                    </div>
                  </div>
                </div>
              </section>
              <section class="sectionStyle">
                <div class="siteSectionContainer container">
                  <div class="sectCounter mainFont">IV.</div>
                  <div class="intro-page-greetings">
                    <h1 class="mainFont">Contacts</h1><span class="breakLine"></span>
                  </div>
                  <div class="container1 aboutus">
                    <div class="showCard showCardItem">
                      <div class="itemHead">
                        <h3>Where to find us</h3>
                      </div>
                      <div class="contactList">
                        <ol>
                          <li>Facebook</li>
                          <li>Instagram</li>
                          <li>Email:</li>
                        </ol>
                      </div>
                      <div class="aboutDesc"></div><span class="breakLine"></span>
                    </div>
                  </div>
                </div>
              </section>
            </main>
          </div>
        </div>
      </div>
    </div>
  </body>
<router-outlet></router-outlet>
